:root {
  --black: #000;
  --grey: #777;
  --milk: #fafafa;
  --white: #fff;
  --font-family: "Inter", sans-serif;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

ul[class] {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--black);
  overflow-x: hidden;
  min-width: 100vw;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

::marker {
  margin-top: 10px;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

.main {
  overflow-x: clip;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../fonts/Inter-Medium.woff2) format("woff2"), url(../fonts/Inter-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.woff2) format("woff2"), url(../fonts/Inter-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid brown;
}

.header {
  min-height: 100vh;
  background: linear-gradient(180deg, #ddead9 0%, #ebebeb 100%);
}
.header__top {
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 0 2.5rem;
}
.nav__link {
  padding: 0.96875rem 0;
  font-weight: 700;
}

.button {
  border-radius: 1.875rem;
  padding: 0.9375rem 3.625rem;
  max-width: 9.375rem;
  background: var(--black);
  color: var(--white);
  text-transform: uppercase;
}

.hero {
  padding-top: 4.5625rem;
  padding-bottom: 10.125rem;
}

.colours {
  padding: 2.875rem 0 11.25rem;
  text-align: center;
}
.colours__title {
  font-weight: 700;
  font-size: 2.25rem;
}
.colours__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.colours__text {
  max-width: 35.4375rem;
  margin-left: auto;
  margin-right: auto;
}
.colours__text:not(:last-child) {
  margin-bottom: 5rem;
}
.colours__list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.colours__item {
  flex-basis: calc((100% - 40px) / 3);
}
.colours__btn {
  padding: 3.125rem 3.4375rem;
  border: 1px solid var(--grey);
  border-radius: 1.25rem;
}

.subtitle {
  font-weight: 700;
  font-size: 4rem;
}
.subtitle:not(:last-child) {
  margin-bottom: 1.25rem;
}

.composition {
  text-align: center;
  padding-bottom: 11.25rem;
}
.composition__text {
  max-width: 40.875rem;
  margin-left: auto;
  margin-right: auto;
}
.composition__text:not(:last-child) {
  margin-bottom: 2.5rem;
}
.composition__inner {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.composition__list {
  max-width: 15.375rem;
  margin-right: 3.875rem;
}
.composition__item:not(:last-child) {
  margin-bottom: 5rem;
}
.composition__picture {
  padding-left: 3rem;
}/*# sourceMappingURL=style.css.map */