.header {
  min-height: 100vh;
  background: linear-gradient(180deg, #ddead9 0%, #ebebeb 100%);

  &__top {
    padding-top: rem(40);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}