.hero {
  padding-top: clamp(0.625rem, -0.807rem + 7.16vw, 4.563rem);
  padding-bottom: clamp(1.25rem, -1.977rem + 16.14vw, 10.125rem);
}

.content-item {
  display: none;
}

.content-item.content-item--active {
  display: inline-block;
}